flows.json
[
    {
        "id": "38c31371.7e7adc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "67a8ccb0.3c92e4",
        "type": "inject",
        "z": "38c31371.7e7adc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 80,
        "wires": [
            [
                "d91ef9df.abf828"
            ]
        ]
    },
    {
        "id": "5174a59a.602f1c",
        "type": "complete",
        "z": "38c31371.7e7adc",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 560,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d91ef9df.abf828",
        "type": "debug",
        "z": "38c31371.7e7adc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 340,
        "y": 280,
        "wires": []
    },
    {
        "id": "10fe0e22.3c0122",
        "type": "inject",
        "z": "38c31371.7e7adc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 440,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8f48e4b3.f034c8",
        "type": "inject",
        "z": "38c31371.7e7adc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "ec762179.6880e"
            ]
        ]
    },
    {
        "id": "ec762179.6880e",
        "type": "debug",
        "z": "38c31371.7e7adc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 440,
        "y": 380,
        "wires": []
    }
]